:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color: #212121;
  --secondary-color: #2196f3;
  --tertiary-color: #ffffff;
  --quaternary-color: #2f303a;
  --quinary-color: #ECECEC;
  --senary-color: #f5f4fa;
  --septenary-color:  #757575;
}

body {
  font-family: var(--main-font);
  font-style: normal;
  color: var(--main-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display:block;
  align-items: center;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1600px;
  align-items: center;
  margin: 0 auto;
  background: var(--tertiary-color);
}

.container-portfolio {
  width: 1600px;
  align-items: center;
  margin: 0;
}

.section {
  padding-bottom: 94px;
}

/* ========== COMPONENTS ========== */

.logo-web-studio-light-theme {
  color: var(--main-color);
  background-color: var(--tertiary-color);
}

.logo-web-studio-dark-theme {
  color: var(--tertiary-color);
  background-color: var(--quaternary-color);
}

/* ========== END COMPONENTS ========== */

/* ========== HEADER ========== */

.header {
  width: 1600px;
  height: 80px;
  background: var(--tertiary-color);
  border-bottom: 1px solid var(--quinary-color);
}

.header .container {
  display: flex;
  align-items: center;
}

.navigation  {
  display: flex;
}

.navigation-list {
  display: flex;
  align-items: center;
}

.navigation-list-item:not(:last-child) {
  margin-right: 46px;
}

.header .mailto {
  margin-left: 371px;
  margin-right: 50px;
}

.logo-web-studio {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  padding: 24px 93px 24px 215px;
}

.logo-web-studio span {
  color: var(--secondary-color);
}

.navigation-list-link,
.mailto,
.phone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
}

.navigation-list-link:visited {
  color: var(--main-color);
}

.mailto,
.phone {
  color: var(--septenary-color);
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.button-list-item:hover,
.button-list-item:focus,
.address-home:hover,
.address-home:focus,
.mailto:hover,
.mailto:focus,
.phone:hover,
.phone:focus,
.contact-mailto:hover,
.contact-mailto:focus,
.contact-phone:hover,
.contact-phone:focus {
  color: var(--secondary-color);
}

/* ========== END HEADER ========== */

/* ========== HERO ========== */

/* ========== EFEKTYWNE ROZWIĄZANIA DLA WASZEGO BIZNESU ========== */

.hero .container {
  display: block;
  position: absolute;
  width: 1600px;
  height: 600px;
  top: 80px;
  background-color: var(--quaternary-color);
}

.hero-top-side {
  display: block;
  margin: 200px 452px 30px;
}

.effective-solutions-for-your-business {
  position: absolute;
  width: 696px;
  height: 120px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--tertiary-color);
}

.hero-bottom-side {
  display: block;
  margin: 350px 700px 200px;
}

.modal-btn {
  border: 0px;
  border-radius: 4px;
  padding: 10px 41px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background: var(--secondary-color);
  
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--tertiary-color);
  cursor: pointer;
}

/* ========== END EFEKTYWNE ROZWIĄZANIA DLA WASZEGO BIZNESU ========== */

/* ========== NASZE ATUTY ========== */
.our-strengths .container {
  position: absolute;
  width: 1170px;
  left: 215px;
  top: 774px;
}

.our-strengths-list {
  display: flex;  
}

.our-strengths-item {
  flex-basis: calc(100% / 4 - 30px);
}

.our-strengths-item:not(:last-child) {
  margin-right: 30px;
 }

.our-strengths-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  padding-bottom: 10px;
}

.our-strengths-text {
  width: 270px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--septenary-color);
}

/* ========== END NASZE ATUTY ========== */

/* ========== CZYM SIĘ ZAJMUJEMY ========== */
.what-we-do .container {
  position: absolute;
  width: 1170px;
  height: 386px;
  left: 215px;
  top: 969px;
}

.what-we-do .what-we-do-title {
  margin-bottom: 50px;
}

.what-we-do-list {
  display: flex;
}

.what-we-do-list-item:not(:last-child) {
  margin-right: 30px;
 }

.what-we-do-title,
.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.667;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

/* ========== END CZYM SIĘ ZAJMUJEMY ========== */

/* ========== NASZ ZESPÓŁ ========== */

.our-team .container {
  position: absolute;
  top: 1449px;
  background: var(--senary-color);
}

.our-team-title {
  padding: 94px 695px 50px;
}

.our-team-list-item {
  margin-bottom: 94px;
  background: var(--tertiary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team-list {
  display: flex;
  padding-left: 215px;
  padding-bottom: 94px;
}

.our-team-list-item:not(:last-child) {
  margin-right: 30px;
}

.our-team-list-img {
  margin-bottom: 30px;
}

.team-name {
  margin-bottom: 10px;
  font-weight: 500;
  color: var(--main-color);
}

.team-job {
  font-weight: 400;
  color: var(--septenary-color);
}

.team-name,
.team-job {
  font-size: 16px;
  line-height: 1.888;
  text-align: center;
  letter-spacing: 0.03em;
}

/* ========== END NASZ ZESPÓŁ ========== */

/* ========== END MAIN ========== */

/* ========== FOOTER ========== */

.footer .container {
  position: absolute;
  top: 2097px;
  background-color: var(--quaternary-color);
}

.footer .logo-web-studio {
  padding: 60px 1240px 20px 215px;
}

.address-list-item {
  display: flex;
  padding-left: 215px;
  padding-bottom: 9px;
}

.address-home {
  color: var(--tertiary-color);
}

.contact-mailto,
.contact-phone {
  color: rgba(255, 255, 255, 0.6);
}
.contact-phone {
  margin-bottom: 60px;
}

.address-home,
.contact-mailto,
.contact-phone {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

/* ========== END FOOTER ========== */

/* ========== PORTFOLIO ========== */
.button-list {
  display: flex;
  margin: 94px 518px 34px 510px;
}

.button-list-item:not(:last-child) {
  margin-right: 8px;
}

.images-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 215px;
  margin-top: 34px;
}

.images-list-item {
  margin-bottom: 30px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  }
  
.images-list-img {
  flex-basis: calc(100% / 3); 
}

.images-list-item:not(:last-child) {
  margin-right: 30px;
}

.modal-btn-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--main-color);
  background: var(--senary-color);
  border-radius: 0px;
}

.modal-btn-portfolio:hover,
.modal-btn-portfolio:focus {
  color: var(--tertiary-color);
  background: var(--secondary-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 0px;
}

.images-name {
  padding: 20px 24px 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.images-type {
  padding: 4px 24px 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--septenary-color);
}
/* ========== END PORTFOLIO ========== */

/* ========== PORTFOLIO FOOTER ========== */

.footer-portfolio .container-portfolio {
  position: absolute;
  top: 1628px;
  background-color: #2F303A;;
}

.portfolio-address-list-item {
  display: flex;
  padding-left: 215px;
  padding-bottom: 9px;
}

.portfolio-address-home {
  color: var(--tertiary-color);
}

.portfolio-contact-mailto,
.portfolio-contact-phone {
  color: rgba(255, 255, 255, 0.6);
}
.portfolio-contact-phone {
  margin-bottom: 60px;
}

.portfolio-address-home,
.portfolio-contact-mailto,
.portfolio-contact-phone {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

/* ========== END PORTFOLIO FOOTER ========== */